@{
    ViewData["Title"] = "Reset password";
}


<div class="wrapper">
    <div class="mt-8 mb-10 blog-card p-7 pt-3 align-left mx-auto" style="max-width:490px;">
        <h2 class="pb-4">Forgot your password?</h2>
        <div class="blog-field">
            <label class="blog-field__label">Email</label>
            <input class="blog-textfield" placeholder="you@email.com" autofocus="autofocus" required="required" type="email">
        </div>
        <div class="blog-field pt-6">
            <button class="blog-btn" type="button" onclick="SendReset()">Send me reset password instructions</button>
        </div>
    </div>
</div>

<script>
    function SendReset() {
        let element = document.getElementsByClassName("wrapper")[0];
        element.children[0].remove();

        let paragraph = document.createElement("h5");
        paragraph.style = "text-align: center; margin: auto";
        paragraph.innerText = "Инструкции по восстановлению пароля отправлены на почту.";

        element.appendChild(document.createElement("br"));
        element.appendChild(document.createElement("br"));
        element.appendChild(paragraph);
    }
</script>