@model Tag

@{
    ViewData["Title"] = "Create";
	Layout = "_LayoutNoHeaderNoFooter";
}

<div class="wrapper">
    <main>
        <form id="article-form" class="blog-article-form" method="post">
            @*  Header  *@
            <div class="blog-article-form__header">
                @*  Logo  *@
                <span class="blog-article-form__logo">
                    <a class="site-logo" href="/">
                        <img class="site-logo__img" src="~/img/logo.png">
                    </a>
                </span>
                @*  Inscription  *@
                <div class="blog-field__label flex items-center flex-1">
                    <span class="inline-block mr-2 whitespace-nowrap">Создать тег</span>
                </div>
            </div>
            @*  Errors and title/description fields  *@
            <div class="blog-article-form__content blog-card">
                @*  Validation errors  *@
                <span class="blog-notice pl-9 fw-bold" asp-validation-for="@Model.Title"></span>
                @*  Tag title  *@
                <div class="blog-article__header__meta text-padding">
                    <div class="blog-article-form__title">
                        <textarea class="blog-textfield-textarea fs-5xl fw-heavy lh-tight" type="text" placeholder="Название тега здесь..." asp-for="Title"></textarea>
                    </div>
                </div>
                @*  Tag description  *@
                <div class="blog-article-form__body text-padding">
                    <div class="h-100">
                        <textarea class="blog-textfield-textarea ff-monospace fs-l h-100" type="text" placeholder="Описание тега здесь..." asp-for="Description"></textarea>
                    </div>
                </div>
            </div>
            @*  Publish and previous page  *@
            <div class="blog-article-form__footer">
                <button class="c-btn c-btn--primary mr-2 whitespace-nowrap" type="submit">Создать тег</button>
                <a class="c-link c-link--block mr-2 whitespace-nowrap" asp-controller="Tag" asp-action="Index">На страницу тегов</a>
            </div>
        </form>
    </main>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}