@{
    ViewData["Title"] = "Contact";
}

<div class="wrapper">
    <main>
        <div class="blog-layout blog-layout--limited-l">
            <div class="blog-card text-styles text-padding">
                <h1 class="fs-5xl fw-heavy lh-tight mb-4 mt-0">Контакты</h1>
                <p>
                    Email: <a href="mailto:sup@blog.io">sup@blog.notexist</a> 😁
                </p>
                <p>
                    Twitter: <a href="http://twitter.com/notexistblog">&#64;notexistblog</a> 👻
                </p>
                <p>
                    Чтобы сообщить об ошибке, пожалуйста, создайте <a href="https://github.com/frorus/Blog-ver-2/issues/new">баг репорт</a> в нашем открытом репозитории.
                </p>
                <p>
                    Чтобы запросить фичу, пожалуйста, <a href="https://github.com/frorus/Blog-ver-2/discussions">начните новую GitHub дискуссию</a> в нашем репозитории.
                </p>
            </div>
        </div>
    </main>
</div>