@model Article

@{
    ViewData["Title"] = "Delete";
	Layout = "_LayoutNoHeaderNoFooter";
}


<div class="wrapper">
    <main>
        <form id="article-form" class="blog-article-form" method="post">
            @*  Header  *@
            <div class="blog-article-form__header">
                @*  Logo  *@
                <span class="blog-article-form__logo">
                    <a class="site-logo" href="/">
                        <img class="site-logo__img" src="~/img/logo.png">
                    </a>
                </span>
                @*  Inscription  *@
                <div class="blog-field__label flex items-center flex-1">
                    <span class="inline-block mr-2 whitespace-nowrap">Удаление статьи</span>
                </div>
            </div>
            @*  Title/text fields  *@
            <div class="blog-article-form__content blog-card">
                @*  Article title/tags  *@
                <div class="blog-article__header__meta text-padding">
                    @*  Title  *@
                    <div class="blog-article-form__title">
                        <textarea class="blog-textfield-textarea fs-5xl fw-heavy lh-tight" type="text" style="color: gray;" asp-for="Title" disabled></textarea>
                    </div>
                    @*  Tags  *@
                    <div class="relative">
                        <div class="border-none p-0 flex items-center">
                            <ul class="list-none flex flex-wrap w-100">
                                @foreach (var item in Model.Tags)
                                {
                                    <li class="w-max">
                                        <div class="flex mr-1 mb-1 w-max">
                                            <button class="c-btn p-1 cursor-text" type="button" style="color: grey" disabled>
                                                #@item.Title
                                            </button>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @*  Article text  *@
                <div class="blog-article-form__body text-padding">
                    <div class="h-100">
                        <textarea class="blog-textfield-textarea ff-monospace fs-l h-100" type="text" style="color: gray;" asp-for="Text" disabled></textarea>
                    </div>
                </div>
            </div>
            @*  Delete and previous page  *@
            <div class="blog-article-form__footer">
                <button class="c-btn blog-btn--danger mr-2 whitespace-nowrap" type="submit">Да, удалить</button>
                <a class="c-link c-link--block mr-2 whitespace-nowrap" href='javascript:history.go(-1)'>На предыдущую страницу</a>
            </div>
        </form>
    </main>
</div>