@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="wrapper">
    <div>
        <section class="blog-layout">
            <div class="registration blog-card">
                @*  Welcome title  *@
                <div class="registration__content">
                    <h1 class="registration__title">
                        Приветствуем в BLOG сообществе!
                    </h1>
                    <p class="registration__description">
                        В нашей команде уже @ViewData["UsersCount"] потрясающих пользователей!
                    </p>
                </div>
                <div>
                    @*  Horizontal line  *@
                    <div class="registration__hr">
                        <span class="registration__hr-label"></span>
                    </div>
                    <form method="post">
                        @*  Email  *@
                        <div class="blog-field mb-3">
                            <label class="blog-field__label" asp-for="EmailReg">Email</label>
                            <input asp-for="EmailReg" class="blog-textfield"/>
                            <span class="blog-notice pl-2" asp-validation-for="EmailReg"></span>
                        </div>
                        @*  Password  *@
                        <div class="blog-field mb-3">
                            <label class="blog-field__label" asp-for="PasswordReg">Пароль</label>
                            <input asp-for="PasswordReg" class="blog-textfield" type="password"/>
                            <span class="blog-notice pl-2" asp-validation-for="PasswordReg"></span>
                        </div>
                        @*  Password confirm *@
                        <div class="blog-field mb-3">
                            <label class="blog-field__label" asp-for="PasswordConfirm">Повторите пароль</label>
                            <input asp-for="PasswordConfirm" class="blog-textfield" type="password"/>
                            <span class="blog-notice pl-2" asp-validation-for="PasswordConfirm"></span>
                        </div>
                        @*  Submit button  *@
                        <div class="actions pt-3">
                            <input class="blog-btn blog-btn--l w-100" type="submit" value="Продолжить"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}