@model TagViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="wrapper">
	<main id="main-content">
		<form id="article-form" class="blog-article-form" method="post">
			<div class="blog-article-form__header">
				<h3>@Model.Title</h3>
			</div>
			<div class="blog-article-form__content blog-card">
				<div class="blog-article-form__body drop-area text-padding">
					<div id="combobox-container" @*class="h-100"*@ style="min-height: 27px;" data-state="suggesting" data-expanded="true">
						<input asp-for="Title" class="form-control" />
						@*<textarea id="article_body_markdown" class="blog-textfield blog-textfield--ghost blog-article-form__body__field ff-monospace fs-l h-100"></textarea>*@
					</div>
				</div>
			</div>
			<div class="blog-article-form__footer">
				<button class="c-btn c-btn--primary mr-2 whitespace-nowrap" type="button">Save changes</button>
				<button class="c-btn mr-2 whitespace-nowrap" asp-controller="Tag" asp-action="Index">Back to tag list</button>
			</div>
		</form>
	</main>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

