@model TagViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="wrapper">
	<main id="main-content">
		<form id="article-form" class="blog-article-form" method="post">
			<div class="blog-article-form__content blog-card">
				<div class="blog-article-form__top text-padding drop-area">
					<div class="blog-article-form__title">
						<textarea class="blog-textfield-textarea fs-3xl m:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight"
								  type="text" id="article-form-title" placeholder="Update title #@Model.Title here..." autocomplete="off"
								  data-gramm_editor="false" aria-label="Tag Title" autofocus="" style="min-height: 62px; max-height: 62px;"
								  asp-for="Title"></textarea>
					</div>
				</div>
				<div class="blog-article-form__body drop-area text-padding">
					<div id="combobox-container" class="h-100" style="min-height: 108px;">
						<textarea class="blog-textfield-textarea ff-monospace fs-l h-100"
								  type="text" id="article_body_markdown" placeholder="Update description here..." autocomplete="off"
								  data-gramm_editor="false" style="min-height: 27px;" asp-for="Description"></textarea>
					</div>
				</div>
			</div>
			<div class="blog-article-form__footer">
				<button class="c-btn c-btn--primary mr-2 whitespace-nowrap" type="submit">Save changes</button>
				<a class="c-link c-link--block mr-2 whitespace-nowrap" asp-controller="Tag" asp-action="Index">Back to tag list</a>
			</div>
		</form>
	</main>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

