<aside class="side-bar">
    <nav class="mb-4 mt-4">
        <div></div>
        <ul class="default-navigation-links sidebar-navigation-links spec-sidebar-navigation-links">
            <li>
                <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Article" asp-action="Index"><i class="bi bi-house-door"></i> &nbsp; Home</a>
            </li>
            <li>
                <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Article" asp-action="Index"><i class="bi bi-list"></i> &nbsp; Articles</a>
            </li>
            <li>
                <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Tag" asp-action="Index"><i class="bi bi-tags"></i> &nbsp; Tags</a>
            </li>
            <li>
                <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Home" asp-action="About"><i class="bi bi-info-circle"></i> &nbsp; About</a>
            </li>
            <li>
                <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Home" asp-action="Contact"><i class="bi bi-ticket"></i> &nbsp; Contact</a>
            </li>
        </ul>
    </nav>
</aside>

@*<aside class="side-bar">
    <nav class="navbar navbar-dark mb-4 mt-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="default-navigation-links sidebar-navigation-links spec-sidebar-navigation-links navbar-nav">
                    <li class="nav-item">
                        <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> &nbsp; Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Article" asp-action="Index"><i class="bi bi-list"></i> &nbsp; Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Tag" asp-action="Index"><i class="bi bi-tags"></i> &nbsp; Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Home" asp-action="About"><i class="bi bi-info-circle"></i> &nbsp; About</a>
                    </li>
                    <li class="nav-item">
                        <a class="sidebar-navigation-link c-link c-link--block c-link--icon-left" asp-controller="Home" asp-action="Contact"><i class="bi bi-ticket"></i> &nbsp; Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</aside>*@