@using Blog.Models.DB
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @*  Get current user  *@
    var user = await UserManager.GetUserAsync(User);

    @*  Page body  *@
    <span class="flex ml-auto">
        <a class="c-cta c-cta--branded whitespace-nowrap mr-2" asp-controller="Article" asp-action="Create">Create Post</a>
    </span>
    <div class="blog-header__menu mx-1">
        <button class="c-btn c-btn--icon-alone radius-full p-1 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="blog-avatar blog-avatar--l">
                <img class="blog-avatar__image" src="/img/avatars/@user.ImagePath">
            </span
       ></button>
        <div class="dropdown-menu blog-dropdown right-2 left-auto -mr-2 mt-1">
            <ul class="m-0">
                <li class="border-0 border-b-1 border-solid border-base-20 pb-2 mb-2">
                    <a class="c-link c-link--block lh-tight" asp-controller="Account" asp-action="GetUserProfile" asp-route-id="@user.Id">
                        <div>
                            <span class="fw-medium block">@user.Name</span
                           ><small class="fs-s opacity-75">&#64;@user.UserName</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="c-link c-link--block" asp-controller="Article" asp-action="Create">Create post</a>
                </li>
                <li>
                    <a class="c-link c-link--block">Reading list</a>
                </li>
                <li class="border-0 border-b-1 border-solid border-base-20 pb-2">
                    <a class="c-link c-link--block" asp-controller="Account" asp-action="Settings">Settings</a>
                </li>
                <li class="pt-2">
                    <a class="c-link c-link--block" asp-controller="Login" asp-action="Logout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <span class="m:block">
        <a class="c-link c-link--block mr-2 whitespace-nowrap ml-auto" asp-controller="Login" asp-action="Login">Log in</a>
    </span>
    <a class="c-cta c-cta--branded whitespace-nowrap mr-2" asp-controller="Register" asp-action="Register">Create account</a>
}