@using Blog.Models.DB
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span class="m:block">
        <a class="c-link c-link--block mr-2 whitespace-nowrap ml-auto" asp-controller="Account" asp-action="Logout">Log out</a>
    </span>
}
else
{
    <span class="m:block">
        <a class="c-link c-link--block mr-2 whitespace-nowrap ml-auto" asp-controller="Account" asp-action="Login">Log in</a>
    </span>
    <a class="c-cta c-cta--branded whitespace-nowrap mr-2" asp-controller="Register" asp-action="Register">Create account</a>
}