@model UserAccountSettingsViewModel


<form id="account" class="tab-pane fade" role="tabpanel" aria-labelledby="account-tab" method="post" asp-controller="Account" asp-action="EditAccountSettings">
    @*  Set new password  *@
    <div class="blog-card blog-card--content-rows">
        <header>
            <h2 class="blog-subtitle-1">Изменение пароля</h2>
        </header>
        @*  Current password field  *@
        <div class="blog-field mb-4">
            <label class="blog-field__label" asp-for="PasswordCurrent">Пароль</label>
            <input class="blog-textfield" autocomplete="off" required="required" type="password" value="@Model.PasswordCurrent" asp-for="PasswordCurrent">
            <span class="blog-notice pl-2" asp-validation-for="PasswordCurrent"></span>
        </div>
        @*  New password field  *@
        <div class="blog-field mb-4">
            <label class="blog-field__label" asp-for="PasswordNew">Новый пароль</label>
            <input class="blog-textfield" autocomplete="off" required="required" type="password" value="@Model.PasswordNew" asp-for="PasswordNew">
            <span class="blog-notice pl-2" asp-validation-for="PasswordNew"></span>
        </div>
        @*  Confirm password field  *@
        <div class="blog-field mb-4">
            <label class="blog-field__label" asp-for="PasswordConfirm">Повторите новый пароль</label>
            <input class="blog-textfield" autocomplete="off" required="required" type="password" value="@Model.PasswordConfirm" asp-for="PasswordConfirm">
            <span class="blog-notice pl-2" asp-validation-for="PasswordConfirm"></span>
        </div>
        <button class="blog-btn" type="submit">Изменить пароль</button>
    </div>
    @*  Delete account  *@
    <div class="blog-card blog-card--content-rows">
        <h2 class="blog-subtitle-1 color-accent-danger">Опасная Зона</h2>
        <div class="grid gap-2">
            <h3 class="blog-subtitle-2">Удаление аккаунта</h3>
            <div class="grid gap-2" autocomplete="off">
                <p>Удаляя свой аккаунт, Вы:</p>
                <ul class="list-disc pl-6">
                    <li>Удаляете Ваш профиль вместе с ассоциациями авторизации.</li>
                    <li>Удаляете весь свой контент, такой как: статьи, комменты или список избранных статей.</li>
                    <li>Делаете свой username доступным для всех.</li>
                </ul>
                <div>
                    <button class="blog-btn blog-btn--danger" type="button" data-toggle="modal" data-target="#deleteAccountModal">Удалить аккаунт</button>
                </div>
                <div class="mt-3">
                    <p>
                        <a asp-controller="Home" asp-action="Contact">Свяжитесь с нами</a>
                        , если у Вас есть вопросы.
                    </p>
                </div>
                @*  Modal for deleting an account  *@
                <div id="deleteAccountModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="modalLabel" class="modal-title" style="font-weight: var(--fw-bold);">Удалить аккаунт</h5>
                                <button class="c-btn c-btn--icon-alone" type="button" data-dismiss="modal" aria-label="Close">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>Вы запросили удаление аккаунта. Пожалуйста, проверьте почту для дальнейших инструкций. </p>
                                    <div class="pt-4">
                                        <button class="blog-btn blog-btn--secondary" type="button" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>