@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model CommentViewModel

<form class="comment-form" accept-charset="UTF-8" method="post" asp-controller="Comment" asp-action="Create">
    @*  Avatar  *@
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        <span class="blog-avatar blog-avatar--l mr-2 shrink-0">
            <img class="blog-avatar__image overflow-hidden" src="/img/avatars/@user.ImagePath" width="32" height="32">
        </span>
    }
    else
    {
        <span class="blog-avatar blog-avatar--l mr-2 shrink-0">
            <img class="blog-avatar__image overflow-hidden" src="/img/avatars/default_avatar.png" width="32" height="32">
        </span>
    }
    @*  Submit comment  *@
    <div class="comment-form__inner">
        <input asp-for="ArticleId" type="hidden" />
        <textarea class="blog-textfield mb-3" placeholder="Оставить комментарий" required="required" asp-for="Content"></textarea>
        <div class="comment-form__buttons mb-4">
            <button class="blog-btn mr-2" type="submit">Отправить</button>
        </div>
    </div>
</form>